<!DOCTYPE html>
<html>
  <head>
    <title>Pricing</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(0, 100,100);
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 50px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h1>Pricing conversion tool</h1>
    <img id="banner" src="https://3f5cc682-b2a2-4470-8fef-84b0c11c3beb-00-1tqvjx2alzn2d.riker.replit.dev/static/banner.jpg">
    <h2>How to use the tool</h2>
    <p>
      Choose the file you want to convert<br>
      Select the vendor you want to convert from<br>
      Press Create
    </p>
    <h2>Conversion</h2>
    <p>Select the file </p> 
    <button>Browse</button>
  </body>
</html>